---
import CssIcon from "./icons/CssIcon.astro";
import ReactJsIcon from "./icons/ReactJsIcon.astro";
import Wordpress from "./icons/Wordpress.astro";
import { Image } from "astro:assets";
import ibb from "../components/images/vista-ibb.png";
import molacotton from "../components/images/molacotton.jpeg";
import canribes from "../components/images/canribes.jpeg";
import canribesRes from "../components/images/canribes5.jpeg"

const TAGS = {
  REACT: {
    name: "ReactJS",
    class: "bg-blue-500 text-white w-[90px]",
    icon: ReactJsIcon
    
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-900 text-white w-[70px]",
    icon: CssIcon
  
  },
  WP: {
    name: "WORDPRESS",
    class: "bg-sky-400 text-white",
    icon: Wordpress
  
  }
}
const PROJECTS = [
    {
        title: "I BOARD BOT",
        description: "Proyecto Open-Source en el que me encargué de la parte de Front-end y Diseño. Nos encargamos de revivir una pizarra que ya no tenia página web ni acceso al servidor original.",
        link: "https://github.com/Stay1444/iboardbot",
        github: "https://github.com/Stay1444/iboardbot",
        image: ibb,
        tags: [TAGS.REACT, TAGS.CSS]
    },
    {
        title: "MOLACOTTON",
        description: "Página web y Targeta Dígital personalizada de esta nueva empresa. Aunque falta que me pasaran las imagenes para los productos y el Título. Esta hecha con Wordpress y Divi.",
        link: "molacotton.com/home",
        github: "",
        image: molacotton,
        tags: [TAGS.WP ]
    },
    {
        title: "CAN RIBES Restaurante",
        description: "Ayude con el diseño y la maquetación de la página de Restaurante Can Ribes. Hecho con Wordpress y Divi a juego con su DigiMenú y Digitarjeta.",
        link: "https://restaurantecanribes.es/",
        github: "",
        image: canribesRes,
        tags: [TAGS.WP]
    },
    {
        title: "CAN RIBES DigiMenú",
        description: "Menú Dígital de Restaurante. Hecho con Wordpress y Divi a juego con su Página principal.",
        link: "https://canribes.digimenu.es/carta-2024/",
        github: "",
        image: canribes,
        tags: [TAGS.WP]
    },
];
---

{
  PROJECTS.map(({ github,image,link, title, description, tags }) => (
    <article class="mb-20">
            <h3 class="text-2xl font-semibold tracking-tight text-pink-400 mb-2">{title}</h3>
          <Image class="rounded-lg max-w-100 h-auto "
              src={image}
              alt={`Captura de pantalla del proyecto ${title}`}
          />
               <ul class="flex flex-row gap-x-2 m-2">
                {tags.map((tag) => (
            <li>
              <span
                class={`flex  gap-x-2 rounded-full text-xs  ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
                
              </span>
            </li>
          ))}
        </ul>
            <p class="text-lg mb-4 text-pretty">{description}</p>
       
        <a
    href={link}
    class="inline-flex items-center mb-2 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    >Ver Más<svg
        class="w-3 h-3 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
    >
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
    </svg></a>
          
        </article>
    ))
}
